@import "_variables";

.element-container {
  position: relative;
  padding-left: $content-side-padding;
  padding-right: $content-side-padding;
  margin-bottom: 7rem;
  font-size: $size-body-md;

  strong {
    display: inline-block;
    margin-right: 0.7rem;
  }

  &__title {
    font-size: 2.4rem;
    margin-bottom: 3rem;
    letter-spacing: 0.5px;

    &.is-big {
      font-size: 5rem;
    }

    &.is-centered {
      text-align: center;
    }
  }
  &__para {
    margin-bottom: 2rem;

    &.is-full-width {
      width: 100vw;
      margin-left: -$content-side-padding;
    }
  }

  &.has-divider::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 15rem;
    height: 1px;
    border-bottom: 2px dashed $text-grey-dark;
  }
}

.flex-v-center {
  display: flex;
  align-items: center;
}

// brief-related

.brief-title,
.brief-subtitle {
  font-size: 2.2rem;
  margin-bottom: 4rem;
}

.brief-subtitle {
  color: $text-grey-dark;
}

.brief-paragraph {
  font-size: $size-body-lg;
  margin-bottom: 6rem;
  line-height: 1.4;
}

@include tablet {
  .brief-title,
  .brief-subtitle {
    font-size: 2.5rem;
  }

  .brief-paragraph {
    font-size: $size-body-lg;
  }
}

@include desktop {
  .brief-title,
  .brief-subtitle {
    font-size: 3.3rem;
    margin-bottom: 6rem;
  }

  .brief-paragraph {
    font-size: $size-body-xl;
    margin-bottom: 8rem;
  }
}

@include largescreen {
  .brief-title,
  .brief-subtitle {
    font-size: 4rem;
    margin-bottom: 8rem;
  }

  .brief-paragraph {
    font-size: $size-body-xxl;
    margin-bottom: 9.5rem;
  }
}

.brief-card-container {
  position: relative;
  width: 100%;
  padding: 0 3rem;
  display: flex;
  align-items: stretch;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;

  .brief-card {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 34rem;
    min-width: 25rem;
    padding: 2rem 3rem;
    margin: 1rem 1.5rem 3rem;
    text-align: center;
    font: {
      size: $size-body-lg;
      weight: 700;
    }

    &.is-big {
      max-width: 100%;
      padding: 4rem;
      font-size: $size-body-xl;
    }

    @include tablet {
      font-size: $size-body-xl;

      &.is-big {
        font-size: $size-body-xxl;
      }
    }

    @include from (1000px) {
      &.is-big {
        max-width: 72rem;
      }
    }
 
    @include desktop {
      font-size: $size-body-xxl;
      padding: 3rem 4rem;
      max-width: 40rem;
      margin: 1rem 2.5rem 4rem;

      &.is-big {
        max-width: 85rem;
        font-size: $size-body-huge;
      }
    }

    @include largescreen {
      max-width: 50rem;
      margin: 1rem 4rem 4rem;

      &.is-big {
        max-width: 108rem;
        padding: 5rem;
      }
    }
  }
}

// page-layout related
.page-section {
  position: relative;
  width: 100%;
  padding: 0 3rem;

  &.no-padding {
    padding: 0;

    .page-section__title,
    .page-section__description {
      padding: 0 3rem;
    }
  }

  @include tablet {
    padding: 0 10rem;

    &.no-padding {
      padding: 0;

      .page-section__title,
      .page-section__description {
        padding: 0 10rem;
      }
    }
  }

  .page-section__description {
    font-size: $size-body-lg;

    &:not(:last-child) {
      margin-bottom: 2rem;
    }

    @include desktop {
      font-size: $size-body-xl;
    }

    @include largescreen {
      font-size: $size-body-xxl;
    }
  }
}

// Ribbons
.ribbon-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 1.5rem;

  .ribbon-element {
    position: relative;
    min-height: 10rem;
    min-width: 25rem;

    &:not(:last-child) {
      margin-bottom: 6rem;
    }
    &:not(:last-child)::after {
      content: '';
      display: block;
      position: absolute;
      width: 3rem;
      min-height: 8rem;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 100%);
      background-color: var(--feature-color);
    }
  }
}

// styled-box-container
.styled-box-flex-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

// utils
@for $i from 1 through 20 {
  .mt-#{$i} {
    margin-top: #{$i}rem !important;
  }

  .mb-#{$i} {
    margin-bottom: #{$i}rem !important;
  }

  .pt-#{$i} {
    padding-top: #{$i}rem !important;
  }

  .pb-#{$i} {
    padding-bottom: #{$i}rem !important;
  }
}

.mt-20-10 {
  margin-top: 10rem !important;

  @include tablet {
    margin-top: 20rem !important;
  }
}

.dashed {
  border: 1px dashed #000;
}

.color-featured {
  display: inline-block;
  color: var(--feature-color);
  margin: 0 0.5rem;
}

.is-quote {
  &::before,
  &::after {
    content: '"';
  }
}

.unstyled-heading {
  font-weight: 400;
  font-family: "Roboto";
  color: $text-grey;
}

// depricated
.brief-para {
  margin-bottom: 7rem;
  font-size: $size-body-md;

  strong:not(:first-child) {
    margin-left: 0.65rem;
  }
  &:last-child {
    margin-bottom: 0;
  }
}