@font-face {
  src: url(../fonts/Goku.ttf);
  font-family: "Goku";
  font-weight: 400;
}

@font-face {
  src: url(../fonts/roboto_bold_700.woff2) format('woff2');
  font-family: "Roboto";
  font-weight: 700;
}

@font-face {
  src: url(../fonts/roboto_light_300.woff2) format('woff2');
  font-family: "Roboto";
  font-weight: 300;
}


html {
  font-size: 10px; // base-font-size
  min-width: 300px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
}

body {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
.heading {
  font-family: "Goku";
  font-weight: 700;
  font-size: 1em;
  letter-spacing: 1px;
}